:root{
    --thumb: 95%;
}
.textarea{
    resize: none;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
}
body{
    overflow-x: hidden;
}
.preview_miniature_container{
    width: 400px;
    height: 100px;
    overflow: hidden;
    position: relative;
}
.preview_miniature_slider{
    transition: 1s;
    display: flex;
    position: absolute;
}
.category{
    background-color: gray;
    border-radius: 20px;
    user-select: none;
    cursor: pointer;
    color: rgb(216, 216, 216);
    border: 1px solid black;
    padding-top: 1px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 1px;
    font-weight: 600;
}
.img_preview{
    border: 1px solid black;
    height: 400px;
    width: 400px;
    background-color: gray;
    font-size: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.img_preview_slider{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: left 1s;
    left: 0;
}
.img_loaded{
    background-color: gray;
    border-radius: 40px;
    color: white;
    margin-left: 5px;
}
.img_size{
    height: 400px;
    width: 400px;
}
.miniature_arrow_left{
    height: 100%;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.left_arrow{
    height: 20px;
    width: 20px;
    border-bottom: 3px solid gray;
    border-left: 3px solid gray;
    transform: rotate(45deg);
    opacity: 0.5;
}
.miniature_arrow_left:hover  .left_arrow{
    opacity: 1;
}
.miniature_arrow_left:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
.miniature_arrow_right{
    height: 100%;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.right_arrow{
    height: 20px;
    width: 20px;
    border-top: 3px solid gray;
    border-right: 3px solid gray;
    transform: rotate(45deg) translate(-7px, 7px);
    opacity: 0.5;
}
.miniature_arrow_right:hover  .right_arrow{
    opacity: 1;
}
.miniature_arrow_right:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
.miniature_preview{
    height: 100px;
    width: 100px;
    border: 1px solid white;
}
.img_preview:hover{
    color: rgb(212, 212, 212);
}
nav{
    background-color: orange;
    color: white;
    position: fixed;
    top: 0;
    z-index: 2;
}
.profile_link:hover .nav_profile_icon{
    transition: 1s;
    transform: translate(-90px);
    z-index: 2;
}
.profile_link_hover{
    width: 0;
}
.profile_link:hover + .profile_link_hover{
    transition: 1s;
    width: 100px;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -5px;
    right: 30px;
}
.profile_link:hover .profile_name{
    transition: 0.5s;
    transform: translate(100%);
    z-index: 1;
}
.profile_link:not(:hover) .profile_name{
    transition: 1s;
    transform: translate(0px);
    z-index: 1;
}
.profile_link:hover .nav_profile_icon{
    transition: 1s;
    transform: translate(-90px);
    z-index: 2;
}
.profile_link:not(:hover) .nav_profile_icon{
    transition: 1s;
    transform: translate(0px);
    z-index: 2;
}
.profile_link:hover .profile_swich_content{
    left: 0px;
}
.profile_swich{
    position: absolute;
    left: 35px;
    width: 150px;
    height: 100%;
    overflow: hidden;
    background-color: orange;
    top: -1px;
}
.profile_swich_content{
    transition: 1s;
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    left: -70px;
}
.title{
    user-select: none;
}
.logout{
    background: none;
    border: none;
    color: white;
}
.nav_profile_icon{
    height: 35px;
    width: 35px;
    border: 1px solid black;
    border-radius: 100%;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 3px solid orange;
}
.login_link2{
    position: absolute;
    left: -55px;
    transition: 0.7s;
}
.login_container{
    width: 60px;
    height: 25px;
}
.register_link2{
    position: absolute;
    left: -70px;
    transition: 0.7s;
}
.register-container{
    width: 75px;
    height: 25px; 
}
.login_link:hover .login_link2{
    left: 5px;
}
.register_link:hover .register_link2{
    left: 5px;
}
.nav_link:hover + .link_hover{
    animation-name: link_hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: 0;
}
.w{
    color: yellow;
    position: absolute;
    left: 141px;
}
.header_div{
    height: 100px;
    width: 150px;
    background-color: red;
    margin: 20px;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.categori_title{
    font-weight: 600;
    text-align: center;
    color: white;
    font-size: 30px;
    height: 50px;
    width: 100%;
    background-color: orangered;
}

.header_search{
    width: 50%;
    margin: 20px;
    border: 1px solid black;
}

.header_search_button{
background-color: red;
border-radius: 100%;
border: 1px solid black;
height: 35px;
width: 35px;
}

.register{
    background-color: white;
    padding: 5px 40px 10px 40px;
    width: 100%;
    position: absolute;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    bottom: 10px;
}

.login{
    position: absolute;
    transform: translateX(100%);
    animation-duration: 1s;
    animation-fill-mode: forwards;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.register_label{
    position: relative;
    transform: translateY(23px);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    user-select: none;
}

.register_form_container{
    background-color: gray;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: white;
    position: relative;
    overflow-x: hidden;
    height: 470px;
}

.register_btn{
    height: 40px;
    width: 200px;
    background-color: rgb(214, 214, 214);
    display: flex;
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    border-radius: 30px;
    top: 0;

}

.btnr{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    font-weight: 600;
    user-select: none;
}

.btnr:hover{
    cursor: pointer;
}

.register_input{
    border: none;
    border-bottom: 1px solid black;
    border-radius: none;
    outline: none;
    width: 100%;
}

.register_submit{
    background: linear-gradient(45deg,orange,red);
    border: none;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 17px;
}

.input_border{
    height: 1px;
    width: 100%;
    background-color: rgb(69, 69, 255);
    position: absolute;
    bottom: 0px;
    transform: translateX(-101%);
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.btn_swich{
    position: absolute;
    width: 100px;
    height: 100%;
    background: linear-gradient(50deg,orange,red);
    z-index: 3;
    border-radius: 30px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.register_container{
    background-size: cover;
    height: 100vh !important;
    background-image: url('https://i.pinimg.com/736x/82/4c/75/824c75d5d8baddac1e3ab99a48b77f36.jpg');
}

.eye{
    font-size: 20px;
    border-bottom: 1px solid black;
}
.card_text{
    color: gray;
    height: 100px;
    overflow: hidden;
    user-select: none;
}
.card{
    border: 2px solid orange;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: scale(0.9);
}
.title_container{
    background-color: white;
    z-index: 1;
}
.nav_link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;

}
header{
    height: 100vh;
    background-image: url('https://img.freepik.com/premium-vector/background-with-traveling-icons-traveling-holidays-icon-background_645658-2049.jpg');
    background-size: 34% 34%;
    background-position: 0px 55px;
}
.lens{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border:  3px solid black;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 76px;
    left: 491px;
    transition: top 1s, left 1s;
    animation-name: lens_rotate;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.background{
    transition: background-position 1s;
    background-image: url('https://img.freepik.com/premium-vector/background-with-traveling-icons-traveling-holidays-icon-background_645658-2049.jpg');
    background-position: -682px -45px;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    animation-name: lens_background_rotate;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.lens_body{
    height: 30px;
    width: 3px;
    position: absolute;
    background-color: black;
    bottom: -30px;
}
@keyframes link_hover{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
@keyframes lens_rotate {
    0%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(45deg);
    }
}
@keyframes lens_rotate_reverse {
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}
@keyframes lens_background_rotate {
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}
@keyframes lens_background_rotate_reverse {
    0%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(45deg);
    }
}
@keyframes login1 {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}

@keyframes login2 {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes register1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes register2{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes border1 {
    0%{
        transform: translatex(-101%);
    }
    100%{
        transform: translatex(0%);
    }
}

@keyframes border2 {
    0%{
        transform: translatex(0%);
    }
    100%{
        transform: translatex(-101%);
    }
}

@keyframes register_input1{
    0%{
        transform: translateY(23px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes register_input2{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(23px);
    }
}

@keyframes register_swich1{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes register_swich2{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}

/* card*/
.btn_card{
    height: 40px;
    width: 120px;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.card_title{
    user-select: none;
}
.card_price{
    user-select: none;
}
.bg_bt{
    position: absolute;
    z-index: 0;
    height: 130px;
    width: 130px;
    border-radius: 100px;
    background: linear-gradient(45deg,orange,red);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.text_gradient{
    background: -webkit-linear-gradient(orange,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.btn_a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    padding: 2px;
    width: 122px;
}
.btn_card:hover{
    background-color: transparent;
}
.card_carousel{
    transition: 1s;
}
.card-img-top{
    border-radius: 0;
}
.img_miniature_container{
    height: 71px;
    width: 71px;
    padding: 1px;
}
.card_row{
    position: relative;
}
.triger{
    position: absolute;
    height: 100%;
    width: 100%;
}
@keyframes btn_card {
    0%{
        transform: rotateZ(0);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
/* fine card*/
/* register form */
.error{
position: absolute;
bottom: -10px;
color: red;
}
/* end register form */
/* detail page */
.img_detail{
    height: 100%;
    width: 100%;
}
.carousel_detail{
    transition: 1s;
}
.miniature_detail{
    height: 100%;
    width: 100%;
    padding: 1px;
}
.p_detail{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 330px;
    max-height: 330px;
}
.espandi{
    text-decoration: underline;
    color: blue;
    position: absolute;
    bottom: 10px;
    right: 0px;
    display: none;
}
.esp{
    max-height: 5000px;
}
.fixed{
    position: fixed;
    top: 48px;
    left: 0;
}
.info{
    background-color: rgb(243, 243, 243);
    font-weight: 600;
    position: fixed;
    top: 56px;
    height: 100%;
    right: 0;
}
.description{
    margin-left: 33.5%;
}
/* edn detail page */
/* profile */
.img_button{
    height: 97%;
    width: 97%;
    position: absolute;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: transparent;
    cursor: pointer;
}
.modifi{
    margin-top: 10px;
    border: none;
    background-color: rgb(211, 211, 211);
    cursor: pointer;
    margin: 20px;
}
.img_profile{
    border-radius: 200px;
    height: 100%;
    width: 100%;
    border: 1px solid red;
}
.img_profile_container{
    position: relative;
    border: 2px solid red;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.separeitor{
    height: 1px;
    width: 100%;
    background-color: orange;
    margin-top: 5px;
    margin-bottom: 5px;
}
.table_row{
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 5px;
    display: flex;
    justify-content: center;
}
.row_container{
    box-shadow: 2px 2px 5px gray;
    border-radius: 20px;
    border: 1px solid rgb(224, 224, 224);
}
.table_title{
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%);
}
/* end profile */
/* annunci */
.filter_button{
    position: absolute;
    background-color: white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    right: -70px;
    top: -1px;
    width: 70px;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 600;
    border-top: 1px solid black;
    user-select: none;
    color: red;
}
.pannel_mouvment{
animation-name: pannel_mouvment;
}
.arrow_mouvment{
    transform: rotate(180deg);
}
.arrow_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}
.arrow{
    height: 8px;
    width: 8px;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    transform: rotate(-45deg);
}
.filter_pannel{
    background-color: white;
    box-shadow: 2px 5px 5px black;
    height: 585px;
    width: 300px;
    position: fixed;
    z-index: 2;
    top: 56px;
    border-top: 1px solid black;
    left: -300px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.range{
    -webkit-appearance: none;
    height: 5px;
    border-radius: 10px;
    background-color: red;
    accent-color: red;
    margin-left: 1px;
}
.range::-webkit-slider-thumb{
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: var(--thumb);
    z-index: 1;
}
.value_display{
    position: absolute;
    top: -35px;
    right: -2px;
    width: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}
.range_arrow{
    height: 10px;
    width: 10px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    transform: rotateZ(-45deg);
}
.indicatore{
    width: 15px;
    margin-left: 237px;
    display: flex;
    justify-content: center;
}
.search_icon{
    height: 28px;
    width: 28px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: none;
    border: 1px solid black;
}
.slider_range{
    height: 7px;
    width: 100%;
    background-color: gray;
    display: flex;
}
#serch{
    border-radius: 0;
    width: 100%;
    outline: none;
    border: 1px solid black;
}
.selected_filter{
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(212, 212, 212);
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-weight: 600;
    user-select: none;
    margin: 5px;
}
.remove_filter{
margin-left: 5px;
margin-right: 5px;
color: white;
background-color: black;
border-radius: 20px;
height: 12px;
width: 12px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.card_container{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes pannel_mouvment1{
    0%{   
    }
    100%{
        left: 0px;
    }
}
@keyframes pannel_mouvment2{
    0%{   
        left: 0px;
    }
    100%{
        left: -300px;
    }
}
@keyframes card_container_mouvment1{
    0%{ 
        left: 0px;  
    }
    100%{
        left: 300px;
    }
}
@keyframes card_container_mouvment2{
    0%{   
        left: 300px;
    }
    100%{
        left: 0px;
    }
}
@keyframes card_mouvment1{
    0%{
       margin-left: 43px;
    }
    100%{
        margin-left: 47px;
    }
}
@keyframes card_mouvment2{
    0%{
        margin-left: 47px;
    }
    100%{
        margin-left: 43px;
    }
}
/* fine annunci */